path {
    stroke: none;
    stroke-width: 0px;
}
body{
    background-color: #F5F6F5 ;
}
polyline{
    stroke: grey;
    stroke-width: 2;
    stroke-opacity:.5;

}
.text_value{
    font-size: 40pt;
}

.text_name{
    fill:grey;
    font-weight:bold;
}
.percent{
    font-size: 20pt;
}
