path {
    stroke: none;
    stroke-width: 0px;
}
body{
    background-color: #F5F6F5 ;
}
polyline{
    stroke: grey;
    stroke-width: 1;
    stroke-opacity:.9;

}
.text_value{
    /*font-family: open_sansregular;*/
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 60px;
    line-height: normal;
}

.text_name{
    /*font-family: open_sansextrabold;*/
    font-family: Arial, Helvetica, Sans-Serif;
    fill:grey;
    font-size: 15px;
    line-height: normal;
}
.percent{
    /*font-family: open_sansregular;*/
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 30px;
    line-height: normal;

}
