.overlay {
    /*fill: none;*/
    /*pointer-events: all;*/
}

.domain {
    display: none;
}
.tick{

font-size:  18px;
    fill:#000;
}
.line {
    stroke-width: 2;
    fill: none;
}

rect.pane {
    cursor: move;
    fill: none;
    pointer-events: all;
}

.horizontalGrid{
    fill : none;
    shape-rendering : crispEdges;
    stroke : grey;
    stroke-width : 1px;
    opacity: 0.2;
}

.verticalGrid{
    fill : none;
    shape-rendering : crispEdges;
    stroke : grey;
    stroke-width : 1px;
    opacity: 0.4;
}
.x .tick text{
    fill:white;
}
